.dropdown-menu {
    .header-nav__dropdown {
        @include tablet {
            max-height: 0;
        }
    }

    .is-open & {
        .header-nav__dropdown {
            opacity: 1;
            visibility: visible;

            @include tablet {
                border-radius: 0;
                max-height: max-content;
                padding: 24px 0 0;
            }
        }
    }
}
