.price {
    $this: &;
    position: relative;

    .is-price-page & {
        margin-bottom: 60px;

        @include mobile {
            margin-bottom: 40px;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 500px;

        @include mobile {
            min-height: 900px;
        }
    }

    &__tabs {
        border-bottom: 4px solid var(--color-stroke);
        display: grid;
        gap: 0 30px;
        grid-template-columns: repeat(4, 262px);
        justify-content: center;
        position: relative;

        @include tablet {
            grid-template-columns: repeat(4, minmax(145px, 262px));
        }

        @include mobile {
            border: 0;
            gap: 0 10px;
            grid-template-columns: repeat(4, minmax(72px, 200px));

            &::before {
                @include absolute(null, null, 0, 0);
                @include size(100%, 4px);
                background-color: var(--color-stroke);
                content: '';
            }
        }
    }

    &__tab {
        @include trs();
        @include font(var(--typo-1), 24px, var(--fw-black));
        color: var(--color-disactive);
        cursor: pointer;
        padding-bottom: 20px;
        position: relative;
        text-align: center;

        @include mobile {
            border-bottom: 4px solid transparent;
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &.is-active {
            color: var(--color-red);

            @include mobile {
                border-bottom: 4px solid var(--color-red);
            }

            &::before {
                @include absolute(null, null, -4px, 0);
                @include size(100%, 4px);
                border-radius: 7px;
                background-color: var(--color-red);
                content: '';

                @include mobile {
                    content: none;
                }
            }
        }
    }

    &__content {
        @include trs();
        @include absolute(230px, null, null, 50%);
        align-items: center;
        display: grid;
        gap: 0 125px;
        grid-template-columns: 263px 360px;
        justify-content: center;
        transform: translateX(-50%);

        @include tablet {
            gap: 0 65px;
        }

        @include mobile {
            gap: 40px 0;
            grid-template-columns: auto;
            top: 210px;
        }

        &.is-hide {
            opacity: 0;
            visibility: hidden;
        }

        &.is-show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__column {
        @include flex-v-center;
        flex-direction: column;
        gap: 40px 0;
    }

    &__icon {
        @include flex-all-center;
    }

    &__info {
        @include flex-v-center;
        flex-direction: column;
        gap: 10px 0;
        text-align: center;
    }

    &__title {
        @include font(var(--typo-1), 30px, var(--fw-black));
        color: var(--color-purple);
        text-transform: uppercase;
    }

    &__paragraph {
        @include font(var(--typo-1), 18px, var(--fw-normal));
        color: var(--color-purple);
        padding-bottom: 10px;
        position: relative;

        &::before {
            @include absolute(null, null, 0, 50%);
            @include size(43px, 3px);
            border-radius: 5px;
            background: var(--color-blue);
            content: '';
            transform: translateX(-50%);
        }

        .is-bold {
            color: var(--color-blue);
            font-weight: var(--fw-black);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;

        @include mobile {
            width: 320px;
        }
    }

    &__item {
        @include flex-v-center;
        @include font(var(--typo-1), 18px, var(--fw-normal));
        color: var(--color-purple);
        gap: 0 8px;
        padding-left: 30px;
        position: relative;

        &.is-end {
            @include mobile {
                justify-content: space-between;
            }
        }

        .is-bold {
            color: var(--color-blue);
            font-weight: var(--fw-black);
        }
    }

    &__checked {
        @include absolute(50%, null, null, 0);
        @include size(18px);
        display: inline-flex;
        transform: translateY(-50%);

        &::before {
            @include absolute(0, 0);
            @include size(18px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Crect width='18' height='18' rx='9' fill='%2358CAFF'/%3E%3Cpath d='M7.10283 11.2695L5.06517 9.14536C4.8222 8.89209 4.40335 8.89209 4.16038 9.14536C3.94654 9.36829 3.94654 9.70975 4.16038 9.93267L7.10283 13L13.8396 5.97727C14.0535 5.75434 14.0535 5.41288 13.8396 5.18996C13.5967 4.93668 13.1778 4.93668 12.9349 5.18996L7.10283 11.2695Z' fill='white'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';
        }
    }

    &__icon-info {
        @include flex-all-center;
        @include font(var(--typo-1), 10px, var(--fw-normal));
        @include size(14px);
        border: 1px solid var(--color-grey);
        border-radius: 50%;
        color: var(--color-grey);
        cursor: pointer;
        line-height: 1;
        position: relative;

        @include on-event {
            #{$this}__tooltip {
                display: inline-flex;
            }
        }
    }

    &__tooltip {
        @include absolute(25px, null, null, 50%);
        @include font(var(--typo-1), 15px, var(--fw-normal));
        align-items: center;
        background-color: var(--color-blue);
        border-radius: 12px;
        color: $color-white;
        display: none;
        justify-content: center;
        padding: 15px;
        text-align: center;
        transform: translateX(-50%);
        width: 240px;
        z-index: 1;

        @include tablet {
            left: 0;
            transform: none;
        }

        @include mobile {
            font-size: 12px;
            width: max-content;
        }

        &::before {
            @include absolute(-6px, null, null, 50%);
            @include size(12px, 9px);
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9' fill='none'%3E%3Cpath d='M5.19416 1.09666C5.59376 0.552845 6.40624 0.552844 6.80584 1.09666L10.8923 6.65786C11.3775 7.31828 10.906 8.25 10.0864 8.25H1.91358C1.09404 8.25 0.622459 7.31828 1.10774 6.65786L5.19416 1.09666Z' fill='%2358CAFF'/%3E%3C/svg%3E");
                repeat: no-repeat;
            };
            content: '';
            transform: translateX(-50%);

            @include tablet {
                left: 5px;
                transform: none;
            }
        }
    }

    &__text-group {
        @include absolute(0, 0);
        @include flex-v-center;
        gap: 0 8px;

        @include mobile {
            @include reset-position;
        }
    }

    &__cost {
        @include font(var(--typo-1), 18px, var(--fw-normal));
        color: var(--color-purple);
        text-decoration: line-through;
    }

    &__free {
        @include font(var(--typo-1), 18px, var(--fw-black));
        color: var(--color-orange);
        text-transform: uppercase;
    }
}
