<section class="section about-hero">
    <div class="container">
        <div class="about-hero__wrapper">
            <div class="about-hero__content">
                <div class="title is-primary">
                    <h1 class="title__text">A Pool of Top-Flight Experts</h1>
                    <p class="title__text-small">
                        Early on in our history, we made a point of hiring only the most talented, knowledgeable,
                        and punctual people. With 500+ degree-holding experts in our pool, we now have enough
                        brainpower to solve any problem your school has to offer. This is not a hobby for us. But nor
                        is it a 9-to-5 job. It's a vocation. That means three things: helping you makes us happy;
                        the only schedule we adhere to is your schedule; we hold ourselves to a high standard
                        so you can expect it.
                    </p>
                </div>
                <a href="#" class="btn is-link about-hero__link">View Pricing</a>
            </div>
            <div class="about-hero__picture">
                <div class="about-hero__info">
                    <p class="about-hero__name">Grace, M.D.</p>
                    <p class="about-hero__descr">
                        Psychiatrist turned stay-at-home mom. Plays the ukulele like a pro.</p>
                </div>
            </div>
        </div>
    </div>
</section>
