<section class="section advantage">
    <div class="advantage__container container">
        <div class="advantage__wrapper">
            <div class="advantage__title-wrap">
                <div class="title is-inverted">
                    <h2 class="title__text">Your Safety Comes First</h2>
                    <p class="title__text-small">
                        Thousands of students trust AssignmentGeek.com with their work. Here's why.
                    </p>
                </div>
            </div>
            <div class="advantage__content">
                <div class="advantage__item">
                    <div class="advantage__picture">
                        <img src="../img/adv-1.png" alt="icon">
                    </div>
                    <div class="advantage__info">
                        <h3 class="advantage__title item-title">Secure Payments</h3>
                        <p class="advantage__paragraph paragraph">
                            Sleep tight: each transaction is encrypted and 100% secure.
                        </p>
                    </div>
                </div>
                <div class="advantage__item">
                    <div class="advantage__picture">
                        <img src="../img/adv-2.png" alt="icon">
                    </div>
                    <div class="advantage__info">
                        <h3 class="advantage__title item-title">Data Protection</h3>
                        <p class="advantage__paragraph paragraph">
                            We encrypt everything. It's all confidential.
                        </p>
                    </div>
                </div>
                <div class="advantage__item">
                    <div class="advantage__picture">
                        <img src="../img/adv-3.png" alt="icon">
                    </div>
                    <div class="advantage__info">
                        <h3 class="advantage__title item-title">Guaranteed Originality</h3>
                        <p class="advantage__paragraph paragraph">
                            Get a free plagiarism report upon request.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="advantage__bottom">
            <p class="advantage__bottom-text">Regain your advantage</p>
            <a href="#" class="advantage__bottom-link">View Pricing</a>
        </div>
    </div>
</section>
