<section class="section banner-top">
    <div class="container">
        <div class="banner-top__wrapper">
            <div class="banner-top__image">
                <img src="../img/banner-top.png" alt="icon">
            </div>
            <div class="title is-inverted">
                <h2 class="title__text">The Top 2%</h2>
                <p class="title__text-small">
                    Have your projects done by the who’s who of professional writing, and boost your grades
                    in every subject, effortlessly.
                </p>
            </div>
            <a href="#" class="btn banner-top__button">Do My Paper</a>
        </div>
    </div>
</section>
