<section class="section benefit">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Your Assignment Help Service in a Nutshell</h2>
            <p class="title__text-small">
                We offer homework writing services with you in mind.
            </p>
        </div>
        <div class="benefit__wrapper">
            <div class="benefit__item">
                <div class="benefit__icon">
                    <img src="../img/benefit-1.png" alt="icon">
                </div>
                <div class="benefit__content">
                    <h3 class="benefit__title item-title">Stay in the Loop 24/7</h3>
                    <p class="benefit__paragraph paragraph">
                        With round-the-clock support and direct access to your expert, you can access our online
                        assignment writing service immediately, whenever you want.
                    </p>
                </div>
            </div>
            <div class="benefit__item">
                <div class="benefit__icon">
                    <img src="../img/benefit-2.png" alt="icon">
                </div>
                <div class="benefit__content">
                    <h3 class="benefit__title item-title">Every Word in Its Right Place</h3>
                    <p class="benefit__paragraph paragraph">
                        Hitting your word count or getting the correct solution is only half the job. We'll fill
                        your assignment with vital insight and clear argumentation.
                    </p>
                </div>
            </div>
            <div class="benefit__item">
                <div class="benefit__icon">
                    <img src="../img/benefit-3.png" alt="icon">
                </div>
                <div class="benefit__content">
                    <h3 class="benefit__title item-title">Tailored to Your Needs</h3>
                    <p class="benefit__paragraph paragraph">
                        Our homework help service is made to meet your demands, whatever the challenge. Every paper
                        is written from scratch by experts in your field.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
