<section class="section card-info">
    <div class="container">
        <div class="card-info__wrapper">
            <div class="title">
                <h2 class="title__text">Write an essay for me</h2>
                <p class="title__text-small">No problem! Our paper writers are cheap and fast!</p>
            </div>
            <div class="card-info__buttons">
                <a href="#" class="btn">Do my assignment</a>
                <a href="#" class="btn is-link">Our experts</a>
            </div>
        </div>
    </div>
</section>
