<section class="section contact">
    <div class="container">
        <div class="contact__wrapper">
            <div class="contact__group">
                <div class="title is-primary">
                    <h1 class="title__text">Let's Talk</h1>
                    <p class="title__text-small">Pick up the phone. We're there for you.</p>
                </div>
                <a href="#" class="btn">Open Chat</a>
            </div>
            <div class="contact__info">
                <div class="contact__item">
                    <div class="contact__icon">
                        <img src="../img/icon-phone.png" alt="phone">
                    </div>
                    <a href="tel:+18885114252" class="contact__info-link">+1 (888) 511-4252</a>
                </div>
                <div class="contact__item">
                    <div class="contact__item">
                        <div class="contact__icon">
                            <img src="../img/icon-time.png" alt="time">
                        </div>
                        <p class="contact__info-text">Mon 00:00 – Sun 23:59</p>
                    </div>
                </div>
            </div>
            <div class="contact__content">
                <div class="contact__inner">
                    <div class="contact__content-wrap">
                        <h3 class="contact__title">Sales</h3>
                        <div class="contact__content-group">
                            <p class="contact__subtitle">Get a quick introduction into the process.</p>
                            <a href="mailto:sales@assignmentgeek.com" class="contact__info-link is-inverted">
                                sales@assignmentgeek.com
                            </a>
                        </div>
                    </div>
                    <div class="contact__content-wrap">
                        <h3 class="contact__title">Support</h3>
                        <div class="contact__content-group">
                            <p class="contact__subtitle">Track our progress and get issues resolved.</p>
                            <a href="mailto:support@assignmentgeek.com" class="contact__info-link is-inverted">
                                support@assignmentgeek.com
                            </a>
                        </div>
                    </div>
                    <div class="contact__content-wrap">
                        <h3 class="contact__title">Billing</h3>
                        <div class="contact__content-group">
                            <p class="contact__subtitle">Trouble with payment? Talk to these guys.</p>
                            <a href="mailto:billing@assignmentgeek.com" class="contact__info-link is-inverted">
                                billing@assignmentgeek.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
