<section class="section discipline">
    <div class="container">
        <div class="discipline__wrapper">
            <ul class="discipline__list">
                <li class="discipline__link js-tab-link">
                    <img src="../img/discipline-1.svg" alt="icon">
                    <span class="discipline__tab">Language Arts</span>
                </li>
                <li class="discipline__link js-tab-link">
                    <img src="../img/discipline-2.svg" alt="icon">
                    <span class="discipline__tab">Math & Statistics</span>
                </li>
                <li class="discipline__link js-tab-link">
                    <img src="../img/discipline-3.svg" alt="icon">
                    <span class="discipline__tab">Natural Sciences</span>
                </li>
                <li class="discipline__link js-tab-link">
                    <img src="../img/discipline-4.svg" alt="icon">
                    <span class="discipline__tab">Applied Sciences</span>
                </li>
                <li class="discipline__link js-tab-link">
                    <img src="../img/discipline-5.svg" alt="icon">
                    <span class="discipline__tab">Humanities</span>
                </li>
            </ul>
            <div class="discipline__inner">
                <div class="discipline__content">
                    <div class="discipline__picture">
                        <img src="../img/discipline-big-1.png" alt="icon">
                    </div>
                    <div class="discipline__group">
                        <div class="discipline__info">
                            <h3 class="discipline__title">Language Arts</h3>
                            <p class="discipline__descr">
                                Analyzing metaphors and exploring character dynamics is not your thing? Leave your essays
                                and book reports to professional writers. With AssignmentGeek.com, you have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>

                <div class="discipline__content">
                    <div class="discipline__picture">
                        <img src="../img/discipline-big-2.png" alt="icon">
                    </div>
                    <div class="discipline__group">
                        <div class="discipline__info">
                            <h3 class="discipline__title">Math & Statistics</h3>
                            <p class="discipline__descr">
                                Analyzing metaphors and exploring character dynamics is not your thing? Leave your essays
                                and book reports to professional writers. With AssignmentGeek.com, you have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>

                <div class="discipline__content">
                    <div class="discipline__picture">
                        <img src="../img/discipline-big-3.png" alt="icon">
                    </div>
                    <div class="discipline__group">
                        <div class="discipline__info">
                            <h3 class="discipline__title">Natural Sciences</h3>
                            <p class="discipline__descr">
                                Analyzing metaphors and exploring character dynamics is not your thing? Leave your essays
                                and book reports to professional writers. With AssignmentGeek.com, you have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>

                <div class="discipline__content">
                    <div class="discipline__picture">
                        <img src="../img/discipline-big-4.png" alt="icon">
                    </div>
                    <div class="discipline__group">
                        <div class="discipline__info">
                            <h3 class="discipline__title">Applied Sciences</h3>
                            <p class="discipline__descr">
                                Analyzing metaphors and exploring character dynamics is not your thing? Leave your essays
                                and book reports to professional writers. With AssignmentGeek.com, you have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>

                <div class="discipline__content">
                    <div class="discipline__picture">
                        <img src="../img/discipline-big-5.png" alt="icon">
                    </div>
                    <div class="discipline__group">
                        <div class="discipline__info">
                            <h3 class="discipline__title">Humanities</h3>
                            <p class="discipline__descr">
                                Analyzing metaphors and exploring character dynamics is not your thing? Leave your essays
                                and book reports to professional writers. With AssignmentGeek.com, you have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
