<div class="dropdown-menu">
    <div class="header-nav__dropdown">
        <div class="header-nav__dropdown-button is-close">
            <span class="header-nav__dropdown-close" aria-hidden="true"></span>
        </div>
        <div class="header-nav__dropdown-wrapper">
            <div class="header-nav__dropdown-inner">
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Math Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Biology Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Chemistry Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Economic Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">English Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">MBA Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Astronomy Assignments</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">History Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Geography Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Law Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Linguistic Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Nursing Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Business Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Calculus Assignments</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Physics Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Sociology Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Philosophy Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Psychology Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Statistics Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Accounting Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Matlab Assignments</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Management Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Marketing Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Computer science Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Engineering Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Finance Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Programming Assignments</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Science Assignments</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-nav__dropdown-wrapper is-large">
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title">Hot Topics</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Do my homework</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Do my assignment</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Online test help</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Who invented homework</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Write my assignment</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title">Useful Resources</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Blog</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Q&A</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Assignment help websites</a>
                    </li>
                </ul>
            </div>
            <div class="header-nav__dropdown-inner">
                <h3 class="header-nav__dropdown-title">Assignment Help By Countries</h3>
                <ul class="header-nav__dropdown-list">
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">United Kingdom</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">United Arab Emirates</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Singapore</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Ireland</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Malaysia</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Canada</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">New Zealand</a>
                    </li>
                    <li class="header-nav__dropdown-item">
                        <a href="#" class="header-nav__dropdown-link">Saudi Arabia</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
