<section class="section experts">
    <div class="experts__container container">
        <div class="title">
            <h2 class="title__text">Our experts</h2>
        </div>
        <div class="experts__wrapper">
            <div class="experts__title-wrap">
                <div class="experts__title-inner">
                    <h2 class="experts__title">We have paper writers in every field</h2>
                    <p class="experts__subtitle">
                        So, whatever your course or subject is, say what needs to be done, and your
                        expert will get down to work right away.
                    </p>
                </div>
            </div>
            <div class="experts__slider">
                <div class="swiper-button-next experts__button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#FF6893"/>
                    </svg>
                </div>
                <div class="swiper-button-prev experts__button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                        <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#FF6893"/>
                    </svg>
                </div>
                <div class="experts__swiper-pagination swiper-pagination"></div>
                <div class="experts__slider-container swiper-container">
                    <div class="swiper-wrapper">

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-1.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 243254</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-2.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 254254</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-3.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 873254</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-4.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 986524</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-5.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 123254</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>

                        <div class="experts__slider-item swiper-slide">
                            <div class="experts__row is-first">
                                <div class="experts__image">
                                    <img src="../img/expert-6.svg" alt="icon">
                                </div>
                                <div class="experts__group">
                                    <p class="experts__num item-title">ID 532254</p>
                                    <div class="experts__rating">
                                        <span class="experts__star" aria-hidden="true"></span>
                                        <p class="experts__rate">4.8/5</p>
                                    </div>
                                </div>
                            </div>
                            <div class="experts__row is-second">
                                <div class="experts__info">
                                    <img src="../img/icon-degree.svg" alt="icon">
                                    <p class="experts__info-text">MBA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-location.svg" alt="icon">
                                    <p class="experts__info-text">USA</p>
                                </div>
                                <div class="experts__info">
                                    <img src="../img/icon-order.svg" alt="icon">
                                    <p class="experts__info-text">1,025 completed orders</p>
                                </div>
                            </div>
                            <div class="experts__row">
                                <ul class="experts__tags">
                                    <li class="experts__tag">Health Science</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Gender and Sexuality Studies</li>
                                    <li class="experts__tag">Chemistry</li>
                                    <li class="experts__tag">Health Science</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="experts__bottom">
            <p class="experts__bottom-text">Find your ideal writer</p>
            <a href="#" class="experts__bottom-link">All Experts</a>
        </div>
    </div>
</section>
