<section class="section history">
    <div class="container">
        <div class="title">
            <h2 class="title__text">We’re an open book</h2>
            <p class="title__text-small">Learn how we got here, through little flashbacks into our history</p>
        </div>
        <div class="history__wrapper">

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-1.png" alt="date">
                    </div>
                    <h3 class="history__title">The Idea Is Born</h3>
                    <p class="history__paragraph">
                        Two college mates at a New Year's party suddenly realized they were
                        graduating in a few months. Immediately they knew it was time they both got a real job.
                        But they didn't.
                    </p>
                </div>
            </div>

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-2.png" alt="date">
                    </div>
                    <h3 class="history__title">The Beginning of a Beautiful Friendship</h3>
                    <p class="history__paragraph">
                        Today is (probably) the most important date on this timeline. Because today, you're here.
                    </p>
                </div>
            </div>

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-3.png" alt="date">
                    </div>
                    <h3 class="history__title">First Ph.D. to Join the Team</h3>
                    <p class="history__paragraph">
                        Finding the right people was the hardest part of it. But when we got our first Ph.D.
                        on board, we knew we'd be alright.
                    </p>
                </div>
            </div>

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-4.png" alt="date">
                    </div>
                    <h3 class="history__title">Hit 10,000th Order</h3>
                    <p class="history__paragraph">
                        It didn't take too long for us to become popular. That day we got our 10,000th order, and
                        we weren't planning to stop.
                    </p>
                </div>
            </div>

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-5.png" alt="date">
                    </div>
                    <h3 class="history__title">Re-Launch</h3>
                    <p class="history__paragraph">
                        After some discussion, we finally resolved to redesign the website. So we said our goodbyes
                        to that vibrant, absolutely psychedelic homepage, and took it down for good.
                    </p>
                </div>
            </div>

            <div class="history__item">
                <div class="history__content">
                    <div class="history__date">
                        <img src="../img/history-date-6.png" alt="date">
                    </div>
                    <h3 class="history__title">The Beginning of a Beautiful Friendship</h3>
                    <p class="history__paragraph">
                        Today is (probably) the most important date on this timeline. Because today, you're here.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
