<section class="section join-team">
    <div class="container">
        <div class="join-team__wrapper">
            <div class="join-team__content">
                <div class="join-team__content-wrap">
                    <h2 class="join-team__title">Join our team</h2>
                    <p class="join-team__paragraph">
                        Want to share your expertisein academic and business writing with students from all over the
                        world? We arealways hungry for professional essay writers, content editors, custom
                        carespecialists and more! Enjoy flexible hours, a great team, and rewarding work.
                    </p>
                </div>
                <a href="#" class="btn">Contact Us</a>
            </div>
            <div class="join-team__info">
                <div class="join-team__info-wrap">
                    <div class="join-team__info-inner">
                        <h3 class="join-team__info-title">Phone</h3>
                        <a href="tel:+18885114252" class="join-team__info-link">+1 (888) 511-4252</a>
                    </div>
                    <div class="join-team__info-inner">
                        <h3 class="join-team__info-title">Location</h3>
                        <p class="join-team__info-text">Boston, MA, USA</p>
                    </div>
                    <div class="join-team__info-inner">
                        <h3 class="join-team__info-title">Name</h3>
                        <p class="join-team__info-text">Global Headquarters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
