<section class="section price">
    <div class="container">
        <div class="title">
            <h1 class="title__text">Pricing</h1>
        </div>
        <div class="price__wrapper">
            <ul class="price__tabs">
                <li class="price__tab js-tab-link">Writing</li>
                <li class="price__tab js-tab-link">Editing</li>
                <li class="price__tab js-tab-link">Proofreading</li>
                <li class="price__tab js-tab-link">Other</li>
            </ul>

            <div class="price__content">
                <div class="price__column">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/pricing-tab-1.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Writing</h3>
                        </div>
                        <p class="price__paragraph">
                            from <span class="is-bold">$5.85</span> / 100 words
                        </p>
                    </div>
                    <a href="#" class="btn">Write My Paper</a>
                </div>
                <div class="price__advantage">
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">Top 2%</span> talent
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Free revisions within <span class="is-bold">10 days</span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">60-day</span> quality warranty
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">2x</span> anti-plagiarism check
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Exhaustive research</span>
                            <span class="price__text-group">
                                <span class="price__cost">$20.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Accurate citations</span>
                            <span class="price__text-group">
                                <span class="price__cost">$19.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Any formatting style</span>
                            <span class="price__text-group">
                                <span class="price__cost">$14.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Review by a trained editor </span>
                            <span class="price__text-group">
                                <span class="price__cost">$12.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="price__content">
                <div class="price__column">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/pricing-tab-2.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Editing</h3>
                        </div>
                        <p class="price__paragraph">
                            from <span class="is-bold">$5.85</span> / 100 words
                        </p>
                    </div>
                    <a href="#" class="btn">Write My Paper</a>
                </div>
                <div class="price__advantage">
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">Top 2%</span> talent
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Free revisions within <span class="is-bold">10 days</span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">60-day</span> quality warranty
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">2x</span> anti-plagiarism check
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Exhaustive research</span>
                            <span class="price__text-group">
                                <span class="price__cost">$20.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Accurate citations</span>
                            <span class="price__text-group">
                                <span class="price__cost">$19.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Any formatting style</span>
                            <span class="price__text-group">
                                <span class="price__cost">$14.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Review by a trained editor </span>
                            <span class="price__text-group">
                                <span class="price__cost">$12.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="price__content">
                <div class="price__column">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/pricing-tab-3.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Proofreading</h3>
                        </div>
                        <p class="price__paragraph">
                            from <span class="is-bold">$5.85</span> / 100 words
                        </p>
                    </div>
                    <a href="#" class="btn">Write My Paper</a>
                </div>
                <div class="price__advantage">
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">Top 2%</span> talent
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Free revisions within <span class="is-bold">10 days</span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">60-day</span> quality warranty
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">2x</span> anti-plagiarism check
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Exhaustive research</span>
                            <span class="price__text-group">
                                <span class="price__cost">$20.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Accurate citations</span>
                            <span class="price__text-group">
                                <span class="price__cost">$19.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Any formatting style</span>
                            <span class="price__text-group">
                                <span class="price__cost">$14.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Review by a trained editor </span>
                            <span class="price__text-group">
                                <span class="price__cost">$12.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="price__content">
                <div class="price__column">
                    <div class="price__info">
                        <div class="price__group">
                            <div class="price__icon">
                                <img src="../img/pricing-tab-4.svg" alt="icon">
                            </div>
                            <h3 class="price__title">Other</h3>
                        </div>
                        <p class="price__paragraph">
                            from <span class="is-bold">$5.85</span> / 100 words
                        </p>
                    </div>
                    <a href="#" class="btn">Write My Paper</a>
                </div>
                <div class="price__advantage">
                    <ul class="price__list">
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">Top 2%</span> talent
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            Free revisions within <span class="is-bold">10 days</span>
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">60-day</span> quality warranty
                        </li>
                        <li class="price__item">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="is-bold">2x</span> anti-plagiarism check
                            <span class="price__icon-info" aria-hidden="true">
                                ?
                                <span class="price__tooltip">
                                    Faucibus odio enim in orci risus dui porttitor.
                                    Risus lacus rutrum erat amet erat vivamus.
                                </span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Exhaustive research</span>
                            <span class="price__text-group">
                                <span class="price__cost">$20.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Accurate citations</span>
                            <span class="price__text-group">
                                <span class="price__cost">$19.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Any formatting style</span>
                            <span class="price__text-group">
                                <span class="price__cost">$14.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                        <li class="price__item is-end">
                            <span class="price__checked" aria-hidden="true"></span>
                            <span class="price__text">Review by a trained editor </span>
                            <span class="price__text-group">
                                <span class="price__cost">$12.99</span>
                                <span class="price__free">Free</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
