<section class="section price-benefit">
    <div class="price-benefit__container container">
        <div class="price-benefit__wrapper">
            <div class="price-benefit__item">
                <div class="price-benefit__icon">
                    <img src="../img/price-benefit-1.png" alt="icon">
                </div>
                <div class="price-benefit__content">
                    <h3 class="price-benefit__title item-title">Smart Payment Plans</h3>
                    <p class="price-benefit__paragraph paragraph">
                        Pay by installments for any project priced at $500 or more.
                    </p>
                </div>
            </div>
            <div class="price-benefit__item">
                <div class="price-benefit__icon">
                    <img src="../img/price-benefit-2.png" alt="icon">
                </div>
                <div class="price-benefit__content">
                    <h3 class="price-benefit__title item-title">Free with Every Order</h3>
                    <p class="price-benefit__paragraph paragraph">
                        Get unlimited revisions, 24/7 support, and direct access to your geek.
                    </p>
                </div>
            </div>
            <div class="price-benefit__item">
                <div class="price-benefit__icon">
                    <img src="../img/price-benefit-3.png" alt="icon">
                </div>
                <div class="price-benefit__content">
                    <h3 class="price-benefit__title item-title">Secure Transactions</h3>
                    <p class="price-benefit__paragraph paragraph">
                        Your funds are protected at all times, and we never get to see your data.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
