<section class="section seo-faq">
    <div class="seo-faq__container container">
        <div class="seo-faq__inner">
            <div class="title">
                <h2 class="title__text">FAQ</h2>
            </div>
            <div class="seo-faq__content">
                <div class="seo-faq__wrapper">
                    <div class="seo-faq__group">
                        <h3 class="seo-faq__question">
                            Can anyone do my assignment?
                        </h3>
                        <span class="seo-faq__icon"></span>
                    </div>
                    <div class="seo-faq__answer">
                        <p class="seo-faq__answer-inner">
                            Yes. Unlike many cheap writing services, AssignmentGeek.com boasts a team of trustworthy
                            experts, selected for you through a rigorous screening process. If you need help with
                            assignment writing, and you need it fast, just say, “Do my paper,” and your expert will
                            commence work right away.
                        </p>
                    </div>
                </div>
                <div class="seo-faq__wrapper">
                    <div class="seo-faq__group">
                        <h3 class="seo-faq__question">
                            Can I pay someone to write my assignment?
                        </h3>
                        <span class="seo-faq__icon"></span>
                    </div>
                    <div class="seo-faq__answer">
                        <p class="seo-faq__answer-inner">
                            I requested the editor as I wanted my essay to be proofread and revised following the teacher’s
                            comments. Edits were made very quickly. I am satisfied with the writer’s work and would
                            recommend her services. I requested the editor as I wanted my essay to be proofread and
                            revised following the teacher’s comments. Edits were made very quickly. I am satisfied with
                            the writer’s work and would recommend her services.
                        </p>
                    </div>
                </div>
                <div class="seo-faq__wrapper">
                    <div class="seo-faq__group">
                        <h3 class="seo-faq__question">
                            How much should I pay for an assignment?
                        </h3>
                        <span class="seo-faq__icon"></span>
                    </div>
                    <div class="seo-faq__answer">
                        <p class="seo-faq__answer-inner">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid tenetur ducimus enim
                            consequuntur fugiat fugit dicta officiis! Adipisci dicta, aut inventore tempore optio
                            magnam reprehenderit temporibus laborum esse consequatur neque!
                        </p>
                    </div>
                </div>
                <div class="seo-faq__wrapper">
                    <div class="seo-faq__group">
                        <h3 class="seo-faq__question">
                            What is the best assignment help website?
                        </h3>
                        <span class="seo-faq__icon"></span>
                    </div>
                    <div class="seo-faq__answer">
                        <p class="seo-faq__answer-inner">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus earum
                            similique minima iure? Similique odit commodi unde, facere quae sunt veniam
                            reprehenderit. Quae temporibus, harum veniam nisi sapiente ipsa?
                        </p>
                    </div>
                </div>
                <div class="seo-faq__wrapper">
                    <div class="seo-faq__group">
                        <h3 class="seo-faq__question">
                            Is using an assignment writing service cheating?
                        </h3>
                        <span class="seo-faq__icon"></span>
                    </div>
                    <div class="seo-faq__answer">
                        <p class="seo-faq__answer-inner">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
                            necessitatibus veniam iusto, quaerat nisi rerum aut earum aliquid ab at provident
                            esse veritatis consequuntur numquam. Nobis sint sed cumque ut.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
