<div class="seo-discipline">
    <div class="seo-discipline__wrapper">
        <h2 class="seo-discipline__title">Excel at Everything</h2>
        <div class="seo-discipline__slider">
            <div class="swiper-button-next seo-discipline__button-next">
                <img src="../img/button-next.png" alt="button next">
            </div>
            <div class="swiper-button-prev seo-discipline__button-prev">
                <img src="../img/button-prev.png" alt="button previous">
            </div>
            <div class="seo-discipline__swiper-pagination swiper-pagination"></div>
            <div class="seo-discipline__slider-container swiper-container">
                <div class="swiper-wrapper">

                    <div class="seo-discipline__slider-item swiper-slide">
                        <div class="seo-discipline__content">
                            <h3 class="seo-discipline__subtitle">Language Arts</h3>
                            <p class="seo-discipline__paragraph paragraph">
                                Leave your essays and book reports to professional writers. You have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="seo-discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>

                    <div class="seo-discipline__slider-item swiper-slide">
                        <div class="seo-discipline__content">
                            <h3 class="seo-discipline__subtitle">Math & Statistics</h3>
                            <p class="seo-discipline__paragraph paragraph">
                                Leave your essays and book reports to professional writers. You have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="seo-discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>

                    <div class="seo-discipline__slider-item swiper-slide">
                        <div class="seo-discipline__content">
                            <h3 class="seo-discipline__subtitle">Natural Sciences</h3>
                            <p class="seo-discipline__paragraph paragraph">
                                Leave your essays and book reports to professional writers. You have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="seo-discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>

                    <div class="seo-discipline__slider-item swiper-slide">
                        <div class="seo-discipline__content">
                            <h3 class="seo-discipline__subtitle">Applied Sciences</h3>
                            <p class="seo-discipline__paragraph paragraph">
                                Leave your essays and book reports to professional writers. You have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="seo-discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>

                    <div class="seo-discipline__slider-item swiper-slide">
                        <div class="seo-discipline__content">
                            <h3 class="seo-discipline__subtitle">Humanities</h3>
                            <p class="seo-discipline__paragraph paragraph">
                                Leave your essays and book reports to professional writers. You have the finest
                                literary talent at your fingertips.
                            </p>
                        </div>
                        <div class="seo-discipline__buttons">
                            <a href="#" class="btn is-link">View Sample</a>
                            <a href="#" class="btn">I Want That</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
