<div class="seo-review">
    <div class="seo-review__wrapper">
        <div class="seo-review__slider">
            <div class="seo-review__swiper-pagination swiper-pagination"></div>
            <div class="seo-review__slider-container swiper-container">
                <div class="swiper-wrapper">

                    <div class="seo-review__slider-item swiper-slide">
                        <div class="seo-review__icon">
                            <img src="../img/quote.png" alt="icon">
                        </div>
                        <div class="seo-review__content">
                            <p class="seo-review__text">Huge thanks for the help! That lab report you did for me was
                                one of the best in class.
                            </p>
                            <p class="seo-review__name paragraph">Mason, UK</p>
                        </div>
                    </div>

                    <div class="seo-review__slider-item swiper-slide">
                        <div class="seo-review__icon">
                            <img src="../img/quote.png" alt="icon">
                        </div>
                        <div class="seo-review__content">
                            <p class="seo-review__text">Huge thanks for the help! That lab report you did for me was
                                one of the best in class.
                            </p>
                            <p class="seo-review__name paragraph">John, USA</p>
                        </div>
                    </div>

                    <div class="seo-review__slider-item swiper-slide">
                        <div class="seo-review__icon">
                            <img src="../img/quote.png" alt="icon">
                        </div>
                        <div class="seo-review__content">
                            <p class="seo-review__text">Huge thanks for the help! That lab report you did for me was
                                one of the best in class.
                            </p>
                            <p class="seo-review__name paragraph">Andy, Canada</p>
                        </div>
                    </div>

                    <div class="seo-review__slider-item swiper-slide">
                        <div class="seo-review__icon">
                            <img src="../img/quote.png" alt="icon">
                        </div>
                        <div class="seo-review__content">
                            <p class="seo-review__text">Huge thanks for the help! That lab report you did for me was
                                one of the best in class.
                            </p>
                            <p class="seo-review__name paragraph">July, France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
