<div class="seo-advantage">
    <div class="seo-advantage__wrapper">
        <div class="seo-advantage__info">
            <span class="seo-advantage__num">50,000</span>
            <p class="seo-advantage__descr">of your peers already have an advantage</p>
        </div>
        <div class="seo-advantage__button">
            <a href="#" class="btn">Order Now</a>
        </div>
        <div class="seo-advantage__payments">
            <img src="../img/seo-payment.png" alt="payment logo">
        </div>
    </div>
</div>
