<section class="section steps-top">
    <div class="container">
        <div class="steps-top__wrapper">

            <div class="steps-top__item">
                <div class="steps-top__info">
                    <p class="steps-top__percent">38%</p>
                </div>
                <div class="steps-top__content">
                    <p class="steps-top__category">Step 1</p>
                    <h3 class="steps-top__title item-title">Resume Screening</h3>
                    <p class="steps-top__paragraph paragraph">
                        From the many resumes that land on our recruiter’s desk, we choose the ones that stand out,
                        i.e., those with particular reference to real-life achievements in writing.
                    </p>
                </div>
            </div>

            <div class="steps-top__item">
                <div class="steps-top__content is-right">
                    <p class="steps-top__category">Step 2</p>
                    <h3 class="steps-top__title item-title">Language Exam</h3>
                    <p class="steps-top__paragraph paragraph">
                        This one is not your regular English test, but a quiz created by a team of linguistic experts.
                        This test will reveal whether or not a hopeful has the skills needed to tackle the most
                        intricate grammar or tough punctuation your project may involve.
                    </p>
                </div>
                <div class="steps-top__info">
                    <p class="steps-top__percent">14%</p>
                </div>
            </div>

            <div class="steps-top__item">
                <div class="steps-top__info">
                    <p class="steps-top__percent">8%</p>
                </div>
                <div class="steps-top__content">
                    <p class="steps-top__category">Step 3</p>
                    <h3 class="steps-top__title item-title">Phone Interview</h3>
                    <p class="steps-top__paragraph paragraph">
                        Our recruiters know the right questions to ask, so no candidate’s weakness or strength will
                        escape their notice. Our ideal expert is someone who’s passionate about writing, feels
                        perfectly at home with formatting styles and can handle tight deadlines.
                    </p>
                </div>
            </div>

            <div class="steps-top__item">
                <div class="steps-top__content is-right">
                    <p class="steps-top__category">Step 4</p>
                    <h3 class="steps-top__title item-title">Trial Assignment</h3>
                    <p class="steps-top__paragraph paragraph">
                        Before a candidate is given the green light to work on your projects, they must complete a
                        real-life writing task, based on their field and specialty. Who is allowed on the team and
                        who isn’t - depends on the quality of their output.
                    </p>
                </div>
                <div class="steps-top__info">
                    <p class="steps-top__percent">3%</p>
                </div>
            </div>

            <div class="steps-top__item">
                <div class="steps-top__info">
                    <p class="steps-top__percent">2%</p>
                </div>
                <div class="steps-top__content">
                    <p class="steps-top__category">Step 5</p>
                    <h3 class="steps-top__title item-title">Continuous Review</h3>
                    <p class="steps-top__paragraph paragraph">
                        The screening process actually never stops: thanks to a thorough performance review, we ensure
                        that every project, delivered to you by a top 2% expert, meets all your needs and demands, and
                        is up to the standards set by your educational institution.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
