<section class="section steps">
    <div class="container">
        <div class="title">
            <h2 class="title__text">What Happens Next</h2>
            <p class="title__text-small">Our process for delivering homework help service is simple.</p>
        </div>
        <div class="steps__wrapper">
            <ul class="steps__list">
                <li class="steps__link js-tab-link">
                    <span class="steps__tab">1</span>
                </li>
                <li class="steps__link js-tab-link">
                    <span class="steps__tab">2</span>
                </li>
                <li class="steps__link js-tab-link">
                    <span class="steps__tab">3</span>
                </li>
            </ul>
            <div class="steps__inner">
                <div class="steps__content">
                    <div class="steps__picture">
                        <img src="../img/step-1.png" alt="icon">
                    </div>
                    <div class="steps__info">
                        <h3 class="steps__title">Fire It Up</h3>
                        <p class="steps__descr">
                            Fill our order form with all the details you want. That way, you're guaranteed
                            to get the results you're looking for.
                        </p>
                    </div>
                </div>
                <div class="steps__content">
                    <div class="steps__picture">
                        <img src="../img/step-2.png" alt="icon">
                    </div>
                    <div class="steps__info">
                        <h3 class="steps__title">CALL THE SHOTS</h3>
                        <p class="steps__descr">
                            Chat with the writer and have changes made as you go. We'll adapt to you at every stage,
                            from research to formatting.
                        </p>
                    </div>
                    <a href="#" class="btn is-link">Ready. Set. Go!</a>
                </div>
                <div class="steps__content">
                    <div class="steps__picture">
                        <img src="../img/step-3.png" alt="icon">
                    </div>
                    <div class="steps__info">
                        <h3 class="steps__title">CALL THE SHOTS</h3>
                        <p class="steps__descr">
                            Chat with the writer and have changes made as you go. We'll adapt to you at every stage,
                            from research to formatting.
                        </p>
                    </div>
                    <a href="#" class="btn is-link">Ready. Set. Go!</a>
                </div>
            </div>
        </div>
    </div>
</section>
