<section class="section testimonials">
    <div class="container">
        <div class="title">
            <h2 class="title__text">Your Peers Got an Edge</h2>
            <p class="title__text-small">
                Your classmates may already have an advantage over you – just because they are getting
                online homework help, and you still aren't.
            </p>
        </div>
        <div class="testimonials__wrapper">
            <div class="testimonials__info">
                <div class="testimonials__slider">
                    <div class="swiper-button-next testimonials__button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M14.3164 27.65L21.9497 20L14.3164 12.35L16.6664 10L26.6664 20L16.6664 30L14.3164 27.65Z" fill="#FF6893"/>
                        </svg>
                    </div>
                    <div class="swiper-button-prev testimonials__button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                            <path d="M25.6836 27.65L18.0503 20L25.6836 12.35L23.3336 10L13.3336 20L23.3336 30L25.6836 27.65Z" fill="#FF6893"/>
                        </svg>
                    </div>
                    <div class="testimonials__swiper-pagination swiper-pagination"></div>
                    <div class="testimonials__slider-container swiper-container">
                        <div class="swiper-wrapper">

                            <div class="testimonials__slider-item swiper-slide">
                                <div class="testimonials__icon">
                                    <img src="../img/quote.png" alt="icon">
                                </div>
                                <div class="testimonials__content">
                                    <p class="testimonials__text">Huge thanks for the help! That lab report you did for me was
                                        one of the best in class.
                                    </p>
                                    <p class="testimonials__name paragraph">Mason, UK</p>
                                </div>
                            </div>

                            <div class="testimonials__slider-item swiper-slide">
                                <div class="testimonials__icon">
                                    <img src="../img/quote.png" alt="icon">
                                </div>
                                <div class="testimonials__content">
                                    <p class="testimonials__text">Huge thanks for the help! That lab report you did for me was
                                        one of the best in class.
                                    </p>
                                    <p class="testimonials__name paragraph">John, USA</p>
                                </div>
                            </div>

                            <div class="testimonials__slider-item swiper-slide">
                                <div class="testimonials__icon">
                                    <img src="../img/quote.png" alt="icon">
                                </div>
                                <div class="testimonials__content">
                                    <p class="testimonials__text">Huge thanks for the help! That lab report you did for me was
                                        one of the best in class.
                                    </p>
                                    <p class="testimonials__name paragraph">Andy, Canada</p>
                                </div>
                            </div>

                            <div class="testimonials__slider-item swiper-slide">
                                <div class="testimonials__icon">
                                    <img src="../img/quote.png" alt="icon">
                                </div>
                                <div class="testimonials__content">
                                    <p class="testimonials__text">Huge thanks for the help! That lab report you did for me was
                                        one of the best in class.
                                    </p>
                                    <p class="testimonials__name paragraph">July, France</p>
                                </div>
                            </div>

                            <div class="testimonials__slider-item swiper-slide">
                                <div class="testimonials__icon">
                                    <img src="../img/quote.png" alt="icon">
                                </div>
                                <div class="testimonials__content">
                                    <p class="testimonials__text">Huge thanks for the help! That lab report you did for me was
                                        one of the best in class.
                                    </p>
                                    <p class="testimonials__name paragraph">Mason, UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials__picture">
                <img src="../img/testimonials-pict.png" alt="picture">
            </div>
        </div>
        <div class="testimonials__bottom">
            <p class="testimonials__bottom-text">see all reviews about us</p>
            <a href="#" class="testimonials__bottom-link">All Reviews</a>
        </div>
    </div>
</section>
