<section class="section types">
    <div class="types__container container">
        <div class="title">
            <h2 class="title__text">Instant success with any project</h2>
        </div>
        <div class="types__wrapper">
            <ul class="types__list">
                <li class="types__link js-tab-link">Essays</li>
                <li class="types__link js-tab-link">Research Papers</li>
                <li class="types__link js-tab-link">Presentations</li>
                <li class="types__link js-tab-link">All Other Projects</li>
            </ul>
            <div class="types__inner">
                <div class="types__content">
                    <div class="types__info">
                        <h3 class="types__title">Essays</h3>
                        <p class="types__descr">
                            Be it a short essay on gravitational waves for the astronomy class or a multi-page
                            project on bipolar disorder for the psychology course, your paper will have the right
                            content and format to bring you top grades in every area of study.
                        </p>
                    </div>
                    <a href="#" class="btn">Place Order</a>
                </div>
                <div class="types__content">
                    <div class="types__info">
                        <h3 class="types__title">Research Papers</h3>
                        <p class="types__descr">
                            Be it a short essay on gravitational waves for the astronomy class or a multi-page
                            project on bipolar disorder for the psychology course, your paper will have the right
                            content and format to bring you top grades in every area of study.
                        </p>
                    </div>
                    <a href="#" class="btn">Place Order</a>
                </div>
                <div class="types__content">
                    <div class="types__info">
                        <h3 class="types__title">Presentations</h3>
                        <p class="types__descr">
                            Be it a short essay on gravitational waves for the astronomy class or a multi-page
                            project on bipolar disorder for the psychology course, your paper will have the right
                            content and format to bring you top grades in every area of study.
                        </p>
                    </div>
                    <a href="#" class="btn">Place Order</a>
                </div>
                <div class="types__content">
                    <div class="types__info">
                        <h3 class="types__title">All Other Projects</h3>
                        <p class="types__descr">
                            Be it a short essay on gravitational waves for the astronomy class or a multi-page
                            project on bipolar disorder for the psychology course, your paper will have the right
                            content and format to bring you top grades in every area of study.
                        </p>
                    </div>
                    <a href="#" class="btn">Place Order</a>
                </div>
            </div>
        </div>
    </div>
</section>
